body, dl, dd,
ul, ol,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, optgroup,
p, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style-type: none;
  list-style-image: none; }

a {
  text-decoration: none; }

a:active {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0 none; }

fieldset, img {
  border: 0; }

html {
  color: #000;
  background: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
  -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  /* 5 */
  text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  /* 5 */ }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button, input, select, textarea {
  font-size: 100%; }

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

q:after, q:before {
  content: ''; }

del {
  text-decoration: line-through; }

mark {
  background: #ff0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

i.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: no-repeat center center;
  background-size: 100%; }
  i.icon.link {
    background-image: url(/assets/pic/link@2x.png); }
  i.icon.search {
    background-image: url(/assets/pic/search@2x.png); }
  i.icon.edit {
    background-image: url(/assets/pic/edit@2x.png); }
  i.icon.collect {
    background-image: url(/assets/pic/shoucang@2x.png); }
  i.icon.tel {
    background-image: url(/assets/pic/contactphone@2x.png); }
  i.icon.mail {
    background-image: url(/assets/pic/contactmail@2x.png); }
  i.icon.location {
    background-image: url(/assets/pic/contactmap@2x.png); }
  i.icon.zhihu {
    background-image: url(/assets/pic/iconzhihu@2x.png); }
  i.icon.maimai {
    background-image: url(/assets/pic/iconmaimai@2x.png); }
  i.icon.linkedin {
    background-image: url(/assets/pic/iconlinkin@2x.png); }
  i.icon.weibo {
    background-image: url(/assets/pic/iconsina@2x.png); }
  i.icon.wechat {
    background-image: url(/assets/pic/iconweixin.png); }
  i.icon.lagou {
    background-image: url(/assets/pic/iconlagou.png); }
  i.icon.kr {
    background-image: url(/assets/pic/icon36kr.png); }
  i.icon.iconitjuzi {
    background-image: url(/assets/pic/iconitjuzi.png); }
  i.icon.iconqixinbao {
    background-image: url(/assets/pic/iconqixinbao.png); }

.main-content .slogan {
  width: 100%;
  height: 105px;
  padding-top: 40px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  background: #474747 url(/assets/pic/imagebg@2x.png) no-repeat center center;
  background-size: cover; }

.main-content .content {
  width: 1180px;
  margin: auto; }

.main-content .category {
  padding: 22px 50px;
  margin-bottom: 20px;
  background: #fff; }
  .main-content .category .main-cate .item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    cursor: pointer; }
    .main-content .category .main-cate .item.active {
      color: #fff;
      background: #459ff3;
      border-color: #459ff3; }
  .main-content .category .main-cate-order {
    width: 160px;
    height: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    cursor: pointer; }
    .main-content .category .main-cate-order:hover {
      overflow: visible; }
    .main-content .category .main-cate-order .order-types {
      margin-left: -1px;
      margin-top: 10px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
      background: #fff; }
      .main-content .category .main-cate-order .order-types .item {
        width: 160px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #ccc;
        border-bottom: 0 none;
        text-align: center;
        font-size: 14px;
        cursor: pointer; }
  .main-content .category .secondary-cate .secondary-name {
    margin-top: 3px; }
  .main-content .category .secondary-cate .secondary-cate-list li,
  .main-content .category .secondary-cate .sec-cate-son-list li {
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    color: #4a4a4a;
    margin-right: 15px;
    margin-bottom: 7px; }
    .main-content .category .secondary-cate .secondary-cate-list li.active,
    .main-content .category .secondary-cate .sec-cate-son-list li.active {
      background: #459ff3;
      color: #fff; }
  .main-content .category .secondary-cate .secondary-cate-list {
    margin-top: 20px;
    margin-left: 64px; }
  .main-content .category .secondary-cate .sec-cate-son-list {
    padding-top: 10px;
    margin-left: 75px;
    background-color: #f9fafa;
    border: 1px solid #ededed; }
  .main-content .category .secondary-cate .selected-cate {
    margin-top: 14px;
    margin-left: 75px; }
    .main-content .category .secondary-cate .selected-cate .sel-item {
      position: relative;
      height: 26px;
      line-height: 26px;
      padding: 0 30px;
      margin-right: 20px;
      background: #459ff3;
      color: #fff; }
      .main-content .category .secondary-cate .selected-cate .sel-item i {
        position: absolute;
        right: 12px;
        font-style: normal; }
    .main-content .category .secondary-cate .selected-cate .clear-selected {
      width: 83px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      color: #459ff3;
      background-color: #fff;
      border: 1px solid #eeeeee; }

.main-content .project-item {
  padding-top: 52px;
  margin-bottom: 10px;
  background: #fff;
  border: solid 1px #ececec;
  font-size: 14px;
  color: #4a4a4a; }
  .main-content .project-item .proj-img {
    width: 140px;
    height: 140px;
    margin-left: 50px;
    border: 1px solid #e4e4e4; }
  .main-content .project-item .proj-desc {
    margin-left: 220px;
    margin-bottom: 20px;
    padding-right: 60px; }
    .main-content .project-item .proj-desc .basic-info {
      margin-bottom: 13px; }
      .main-content .project-item .proj-desc .basic-info .p-name {
        margin-right: 20px;
        font-size: 22px; }
      .main-content .project-item .proj-desc .basic-info .p-area {
        margin-right: 12px; }
      .main-content .project-item .proj-desc .basic-info .p-url {
        color: #49a1f3;
        margin-right: 15px; }
      .main-content .project-item .proj-desc .basic-info .p-social {
        position: relative;
        top: 5px;
        margin-right: 15px; }
        .main-content .project-item .proj-desc .basic-info .p-social .wechat {
          margin-right: 10px; }
      .main-content .project-item .proj-desc .basic-info .p-media {
        position: relative;
        top: 5px;
        font-size: 0; }
        .main-content .project-item .proj-desc .basic-info .p-media a {
          margin-right: 12px; }
    .main-content .project-item .proj-desc .p-tag .tag-type {
      position: relative;
      top: 4px;
      color: #9b9b9b; }
    .main-content .project-item .proj-desc .p-tag .tag-list {
      margin-left: 75px;
      font-size: 0; }
      .main-content .project-item .proj-desc .p-tag .tag-list .t-name {
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        margin-right: 15px;
        margin-bottom: 15px;
        border: solid 1px #ccc;
        font-size: 14px; }
    .main-content .project-item .proj-desc .p-introduce {
      padding: 18px;
      background-color: #f9fafa;
      border: 1px solid #ededed; }
  .main-content .project-item .proj-after {
    position: relative;
    height: 53px;
    padding-top: 13px;
    padding-right: 60px;
    background-color: #fafafa;
    font-size: 0;
    border-top: 1px solid #ececec; }
    .main-content .project-item .proj-after .after-txt {
      margin-left: 220px;
      font-size: 14px; }
    .main-content .project-item .proj-after .btn {
      width: 98px;
      height: 36px;
      line-height: 36px;
      margin-right: 10px;
      border-radius: 32px;
      text-align: center;
      border: solid 1px #ccc;
      font-size: 14px;
      color: #4a4a4a; }
      .main-content .project-item .proj-after .btn.operate:hover {
        color: #49a1f3;
        border-color: #49a1f3;
        box-shadow: 0 0 3px 0 #49a1f3;
        background: #fff; }
      .main-content .project-item .proj-after .btn.favor {
        width: 86px;
        margin-right: 0;
        border: 0 none;
        background: #feb235;
        color: #fff; }
        .main-content .project-item .proj-after .btn.favor .icon {
          position: relative;
          top: 4px;
          right: 3px; }
    .main-content .project-item .proj-after .see-btn {
      margin-right: 45px; }
      .main-content .project-item .proj-after .see-btn .active {
        color: #fff;
        background-color: #49a1f3;
        border-color: #49a1f3; }

.main-content .pages {
  margin: 40px 0;
  text-align: center;
  font-size: 0; }
  .main-content .pages .page {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-left: 0 none; }
    .main-content .pages .page.current {
      color: #fff;
      background: #459ff3; }
    .main-content .pages .page.disable {
      background: #eee; }
    .main-content .pages .page.prev {
      border-left: 1px solid #e5e5e5; }
