.header {
  width: 100%;
  height: 64px;
  background: #fff; }
  .header .content {
    width: 1180px;
    margin: auto;
    height: 64px; }
  .header .logo {
    width: 108px;
    height: 64px;
    margin-right: 120px;
    background: url(/assets/pic/logo@2x.png) no-repeat center center;
    background-size: 100%; }
  .header .menu .item {
    line-height: 64px;
    padding: 0 16px;
    margin-right: 10px;
    color: #4a4a4a;
    font-size: 14px; }
    .header .menu .item.active {
      background: #459ff3;
      color: #fff; }
    .header .menu .item.find-road {
      position: relative; }
      .header .menu .item.find-road img {
        position: absolute;
        top: 11px;
        right: -7px;
        width: 22px;
        height: 19px; }
  .header .header-right {
    margin-top: 16px; }
  .header .search-form {
    width: 270px;
    height: 32px;
    margin-right: 32px; }
    .header .search-form .keywords {
      width: 176px;
      height: 18px;
      padding: 6px 25px;
      line-height: 18px;
      font-size: 14px;
      border: solid 1px #eee;
      background-color: #f8f8f8;
      outline: none !important; }
    .header .search-form button {
      width: 42px;
      height: 32px;
      border: 0 none;
      background-color: #459ff3; }
      .header .search-form button .icon {
        margin-top: 6px; }
  .header .user-btn {
    width: 60px;
    height: 32px;
    margin-right: 4px;
    line-height: 32px;
    text-align: center;
    color: #4a4a4a;
    border: 1px solid #ccc; }

.footer {
  width: 100%;
  height: 96px;
  line-height: 96px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #3c3c3c; }
