@charset "utf-8";

body, dl, dd,
ul, ol,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, optgroup,
p, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style-type: none;
  list-style-image: none; }

a {
  text-decoration: none; }

a:active {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0 none; }

fieldset, img {
  border: 0; }

html {
  color: #000;
  background: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
  -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  /* 5 */
  text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  /* 5 */ }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button, input, select, textarea {
  font-size: 100%; }

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

q:after, q:before {
  content: ''; }

del {
  text-decoration: line-through; }

mark {
  background: #ff0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }